on:
  # Run whenever new commits are pushed to the target branches defined as gibelow.
  push:
    branches:
      - 'bugfix_*' # bugfix branches
      - 'feat_*' # feature branches
      - 'staging_*' # staging branches
  # Run whenever a pull request event occurs and the target branches defined as below.
  pull_request:
    branches:
      - 'main' # main branch
      - 'staging_*' # staging branches

name: Check all requirements for accepting changes to a branch

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # in case of failing to install dependencies due to the ssh-related issue:
      # npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/<your github account>/<repo>.git
      # npm ERR! Warning: Permanently added the RSA host key for IP address <a public ip address> to the list of known hosts.
      # npm ERR! git@github.com: Permission denied (publickey).
      # npm ERR! fatal: Could not read from remote repository.
      #
      # follow the instruction to setup the SSH_PRIVATE_KEY
      # see instruction in: https://github.com/actions/setup-node/issues/214
      - name: Check - install
        run: npm ci
      - name: Check - audit (production)
        run: npm audit --production
      - name: Check - format
        run: npm run lint-check
      - name: Check - build
        run: npm run build
      - name: Run tests
        run: npm test
